*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Gilroy;
}
@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Regular.ttf");
}

.header{
    width: 100%;
    padding:40px 100px 30px 100px;
    display: flex;
    align-items: center;
    position: fixed;
    background: linear-gradient(to right, #F9F1E7 964px, #FCF8F3 476px);
    z-index: 1;
}
/* start navigation part  */
.navigation{
    align-items: center;
    margin-left: 43px;
    margin-right: 43px;

}
.navigation ul{
    display: flex;
}
.navigation ul li{
    padding-left: 44px;
}
.navigation ul li:hover a {
    color: #E89F71;
}
.navigation ul li a{
    color: black;
    font-size: 16px;
    font-weight: bold;
}
/* end navigation part */


/* ------------------------------- */


/* start search bar part */
.search{
    width: 473px;
    height: 45px;
    display: flex;
    align-items: center;
    position: relative;
}
.search input{
    position: absolute;
    border-radius: 6px;
    width: 470px;
    height: 42px;
    padding-left: 40px;
    border: none;
}
.search img{
    position: absolute;
    left: 0;
    padding-left: 15px;
}
/* end search bar part */


/* ----------------------------- */

/* start icon part */
.icons{
    margin-left: 121px;
    align-items: center;
}
.icons img{
    padding-left: 34px;
    cursor: pointer;
}
/* end icon part */


/* ----------------------------- */

/* Start Imagel gallery section  */
.gallery_section{
    padding-top: 151px;
    width: 100%;
    background: linear-gradient(to right, #F9F1E7 964px, #FCF8F3 476px);
    height: 774px;
    display: block;
}
.slide_buttons{
    position: relative;
    display: flex;
    align-items: center;
}
.circles{
    position: absolute;
    left: 50%;
    right: 50%;
}
.drop{
    background-color: #D8D8D8;
    border-radius: 50%;
    padding-left: 20px;
    width: 11px;
    margin-left: 20px;
    cursor: pointer;
}
.drop:hover {
    background-color: #E89F71;
}

.slide_buttons .next_buttons{
    position: absolute;
    right: 100px;
    display: flex;
}
.next{
    width: 48px;
    height: 48px;
    margin-left: 8px;
    background-color: #E89F71;
    border-radius: 50%;
    padding: 17px 15px 17px 20px;
    cursor: pointer;
}
.before{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 17px 18px 17px 18px;
    background-color: #F6DDCCFF;
    cursor: pointer;
}

.image_gallery{
    position: relative;
    padding-top: 60px;
    text-align: center;
}
.image_gallery .slide_img{
    height: 553px;
width: 934px;
margin: auto;
padding-left: 32px;
}

.text_card{
    position: absolute;
    top: 10px;
    left: 200px;
    width: 494px;
    height: 553px;
    background-color:rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(6px);
}
.text_card:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.text_card .content{
    padding: 60px;
}
.text_card .content h1{
    font-size: 56px;
    line-height: 67px;
    font-weight: 700;
    color: #3A3A3A;
}
.text_card .content p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #898989;
    text-align: left;
    padding-top: 16px;
}
.text_card .content button{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 48px;
    width: 374px;
    height: 78px;
    background-color: #E89F71;
    border: none;
    cursor: pointer;
}


.cost_card{
    position: absolute;
    width: 294px;
    height: 148px;
    text-align: left;
    right: 335px;
    bottom: 35px;
    background-color:rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(6px);
}
.cost_card h4{
    font-weight: 600;
    font-size: 28px;
    padding-top: 24px;
    padding-left: 24px;
    line-height: 33px;
    color: #3A3A3A;
}
.cost_card h5{
    font-weight: 500;
    font-size: 16px;
    padding-left: 24px;
    line-height: 24px;
    color: #616161;
    padding-top: 4px;
}
.card_bottom{
    display: flex;
    padding-top: 8px;
    width: 100%;
    padding-left: 24px;
    align-items: center;
}
.card_bottom p{
    font-weight: 600;
    size: 20px;
    line-height: 30px;
    color: #3A3A3A;
    padding-right: 97px;
}
.cost_card .card_bottom img{
    cursor: pointer;
    height: 11px;
    width: 15px;
}
.cost_card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* End image gallery section */


/* start feature section */
.feature_section{
    width: 100%;
    height: auto;
    align-items: center;
}
.feature{
    width: 1237px;
    height: 85px;
    margin: 88px 100px 88px 150px;
    display: flex;
    gap: 92px;
}
.small_card{
    display: flex;
}
.small_card img{
height: 38.75px;
width: 40px;
}
.small_card_text{
    display: block;
    margin-left: 24px;
}
.small_card_text h5{
font-size: 18px;
font-weight: 600;
line-height: 27px;
text-align: left;
}
.small_card_text p{
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
}
/* end feature section */


/* --------------------------- */


/* Start product section */
.product_section{
    width: 100%;
    height: auto;
}
.product{
    display: block;
}
.product_heading h2{
    text-align: center;
    font-style: bold;
    color: #3A3A3A;
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: center;
}
.container{
    display: block;
    flex-wrap: wrap;
    margin: 32px 104px 32px 100px;
}
.up_row{
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
}
.down_row{
    display: flex;
    gap: 32px;
}
/* start card1 css */
.card1{
height: 446px;
width: 285px;
position: relative;
top: 225px;
left: 142px;
transform: translate(-50%, -50%);
background-color: #F4F5F7;
}
.card1:hover .overlay{
    opacity: 87%;
}
.card1 .card1_img{
height: 301px;
width: 285px;
}
.card1_text{
    width: 100%;
    display: block;
    padding-left: 16px;
}
.card1 .card1_text h5{
font-size: 24px;
font-weight: 600;
line-height: 29px;
text-align: left;
padding-top: 16px;
padding-bottom: 8px;
color: #3A3A3A;
}
.card1 .card1_text p{
font-size: 16px;
font-weight: 500;
line-height: 24px;
color: #898989;
text-align: left;
}
.card1_text .price1_row{
    display: flex;
    width: 100%;
    padding-top: 8px;
}
.price1_row h6{
    color: #3A3A3A;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: left;
}
.price1_row p{
    padding-left: 16px;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-decoration: line-through;
text-align: left;
}
.discount1{
    border-radius: 50%;
    border: none;
    background-color: #E97171;
    height: 48px;
    width: 48px;
    left: 213px;
    position: absolute;
    top: 24px;
}
.discount1 p{
font-size: 16px;
font-weight: 500;
line-height: 24px;
color: white;
padding-top: 12px;
padding-left: 5px;
}
/* end card css */

/* --------------------------- */

/* start card2  css */
.card2{
    height: 446px;
    width: 285px;
    position: relative;
    top: 225px;
    left: 142px;
    transform: translate(-50%, -50%);
    background-color: #F4F5F7;
    }
    .card2:hover .overlay{
        opacity: 87%;
    }
    .card2 .card2_img{
    height: 301px;
    width: 285px;
    }
    .card2_text{
        width: 100%;
        display: block;
        padding-left: 16px;
    }
    .card2 .card2_text h5{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 8px;
    color: #3A3A3A;
    }
    .card2 .card2_text p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #898989;
    text-align: left;
    }
    .card2_text .price2_row{
        display: flex;
        width: 100%;
        padding-top: 8px;
    }
    .price2_row h6{
        color: #3A3A3A;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    }
    .price2_row p{
        padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: line-through;
    text-align: left;
    }
/* end card2  css */

/* ------------------------ */

/* Start card3 css */
.card3{
    height: 446px;
    width: 285px;
    position: relative;
    top: 225px;
    left: 142px;
    transform: translate(-50%, -50%);
    background-color: #F4F5F7;
    }
    .card3:hover .overlay{
        opacity: 87%;
    }
    .card3 .card3_img{
    height: 301px;
    width: 285px;
    }
    .card3_text{
        width: 100%;
        display: block;
        padding-left: 16px;
    }
    .card3 .card3_text h5{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 8px;
    color: #3A3A3A;
    }
    .card3 .card3_text p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #898989;
    text-align: left;
    }
    .card3_text .price3_row{
        display: flex;
        width: 100%;
        padding-top: 8px;
    }
    .price3_row h6{
        color: #3A3A3A;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    }
    .price3_row p{
        padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: line-through;
    text-align: left;
    }
    .discount3{
        border-radius: 50%;
        border: none;
        background-color: #E97171;
        height: 48px;
        width: 48px;
        left: 213px;
        position: absolute;
        top: 24px;
    }
    .discount3 p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: white;
    padding-top: 12px;
    padding-left: 5px;
    }
/* end card3 css */

/* ------------------------- */

/* start card4 css */
.card4{
    height: 446px;
    width: 285px;
    position: relative;
    top: 225px;
    left: 142px;
    transform: translate(-50%, -50%);
    background-color: #F4F5F7;
    }
    .card4:hover .overlay{
        opacity: 87%;
    }
    .card4 .card4_img{
    height: 301px;
    width: 285px;
    }
    .card4_text{
        width: 100%;
        display: block;
        padding-left: 16px;
    }
    .card4 .card4_text h5{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 8px;
    color: #3A3A3A;
    }
    .card4 .card4_text p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #898989;
    text-align: left;
    }
    .card4_text .price4_row{
        display: flex;
        width: 100%;
        padding-top: 8px;
    }
    .price4_row h6{
        color: #3A3A3A;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    }
    .price4_row p{
        padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: line-through;
    text-align: left;
    }
    .discount4{
        border-radius: 50%;
        border: none;
        height: 48px;
        width: 48px;
        left: 213px;
        position: absolute;
        top: 24px;
        background-color: #2EC1AC;
    }
    .discount4 p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: white;
    padding-top: 11px;
    padding-left: 8px;
    }
/* end card4 css */

/* ------------------------- */

/* start card5 css */
.card5{
    height: 446px;
    width: 285px;
    position: relative;
    top: 225px;
    left: 142px;
    transform: translate(-50%, -50%);
    background-color: #F4F5F7;
    }
    .card5:hover .overlay{
        opacity: 87%;
    }
    .card5 .card5_img{
    height: 301px;
    width: 285px;
    }
    .card5_text{
        width: 100%;
        display: block;
        padding-left: 16px;
    }
    .card5 .card5_text h5{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 8px;
    color: #3A3A3A;
    }
    .card5 .card5_text p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #898989;
    text-align: left;
    }
    .card5_text .price5_row{
        display: flex;
        width: 100%;
        padding-top: 8px;
    }
    .price5_row h6{
        color: #3A3A3A;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    }
    .price5_row p{
        padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: line-through;
    text-align: left;
    }
/* end card5 css */

/* ------------------------- */
/* start card6 css */
.card6{
    height: 446px;
    width: 285px;
    position: relative;
    top: 225px;
    left: 142px;
    transform: translate(-50%, -50%);
    background-color: #F4F5F7;
    }
    .card6:hover .overlay{
        opacity: 87%;
    }
    .card6 .card6_img{
    height: 301px;
    width: 285px;
    }
    .card6_text{
        width: 100%;
        display: block;
        padding-left: 16px;
    }
    .card6 .card6_text h5{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 8px;
    color: #3A3A3A;
    }
    .card6 .card6_text p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #898989;
    text-align: left;
    }
    .card6_text .price6_row{
        display: flex;
        width: 100%;
        padding-top: 8px;
    }
    .price6_row h6{
        color: #3A3A3A;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    }
    .price6_row p{
        padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: line-through;
    text-align: left;
    }
    .discount6{
        border-radius: 50%;
        border: none;
        height: 48px;
        width: 48px;
        left: 213px;
        position: absolute;
        top: 24px;
        background-color: #2EC1AC;
    }
    .discount6 p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: white;
    padding-top: 11px;
    padding-left: 8px;
    }
/* end card6 css */

/* --------------------------- */
/* start card7 css */
.card7{
    height: 446px;
    width: 285px;
    position: relative;
    top: 225px;
    left: 142px;
    transform: translate(-50%, -50%);
    background-color: #F4F5F7;
    }
    .card7:hover .overlay{
        opacity: 87%;
    }
    .card7 .card7_img{
    height: 301px;
    width: 285px;
    }
    .card7_text{
        width: 100%;
        display: block;
        padding-left: 16px;
    }
    .card7 .card7_text h5{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 8px;
    color: #3A3A3A;
    }
    .card7 .card7_text p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #898989;
    text-align: left;
    }
    .card7_text .price7_row{
        display: flex;
        width: 100%;
        padding-top: 8px;
    }
    .price7_row h6{
        color: #3A3A3A;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    }
    .price7_row p{
        padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: line-through;
    text-align: left;
    }
    .discount7{
        border-radius: 50%;
        border: none;
        background-color: #E97171;
        height: 48px;
        width: 48px;
        left: 213px;
        position: absolute;
        top: 24px;
    }
    .discount7 p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: white;
    padding-top: 12px;
    padding-left: 5px;
    }
/* end card7 css */

/* --------------------------- */
/* start card8 css */
.card8{
    height: 446px;
    width: 285px;
    position: relative;
    top: 225px;
    left: 142px;
    transform: translate(-50%, -50%);
    background-color: #F4F5F7;
    }
    .card8:hover .overlay{
        opacity: 87%;
    }
    .card8 .card8_img{
    height: 301px;
    width: 285px;
    }
    .card8_text{
        width: 100%;
        display: block;
        padding-left: 16px;
    }
    .card8 .card8_text h5{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 8px;
    color: #3A3A3A;
    }
    .card8 .card8_text p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #898989;
    text-align: left;
    }
    .card8_text .price8_row{
        display: flex;
        width: 100%;
        padding-top: 8px;
    }
    .price8_row h6{
        color: #3A3A3A;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    }
    .price8_row p{
        padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: line-through;
    text-align: left;
    }
    .discount8{
        border-radius: 50%;
        border: none;
        height: 48px;
        width: 48px;
        left: 213px;
        position: absolute;
        top: 24px;
        background-color: #2EC1AC;
    }
    .discount8 p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: white;
    padding-top: 11px;
    padding-left: 8px;
    }
/* end card8 css */


/* --------------------------- */

/* End product section */

/* ----------------------- */


/*start card overlay css */
.overlay{
    background-color: rgba(58, 58, 58, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity  0.4s ease-in-out;
    opacity: 0;
    cursor: pointer;
}
.overlay_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}
.overlay_buttons{
    gap: 49px;
}

.overlay_text .overlay_buttons{
    display: flex;
    margin-top: 27px;
}
.overlay_text button{
height: 48px;
width: 202px;
background-color: white;
cursor: pointer;
font-size: 16px;
font-weight: 600;
line-height: 24px;
color: #E89F71;
border: none;
}
.overlay_buttons .share{
    display: flex;
    width: 50%;
    gap: 11px;
}
.share p{
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;
color: white;
}
.like p{
    font-size: 16px;
    color: white;
font-weight: 600;
line-height: 24px;
text-align: left;
}
.overlay_buttons .like{
    display: flex;
    width: 50%;
    gap: 11px;
}

.product .bottom {
    width: 100%;
    padding-top: 32px;
}
.product .bottom span{
    margin-left: 40%;
    border: 1px solid #E89F71;
    padding: 12px 82px 12px 82px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: rgba(232, 159, 113, 1);
    cursor: pointer;
}
.bottom span:hover {
    color: white;
    background-color: #E89F71;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
/* end card1 overlay css */

/* --------------------------- */

/* start room_section css */
.room_section{
    width: 100%;
    height: auto;
    margin-top: 44px;
    margin-bottom: 44px;
    background-color: #FCF8F3;
}
.rooms {
    width: 100%;
    display: flex;
    position: relative;
}
.rooms_text{
    padding-left: 100px;
    padding-top: 223px;
    height: 152px;
    width: 378px;
}
.rooms_text h2{
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: left;
color: #3A3A3A;
padding-bottom: 8px;
}
.rooms_text p{
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
color: #616161;
padding-bottom: 24px;
}
.rooms_text a{
    padding: 12px 40px 12px 40px;
    background-color: #E89F71;
    color: white;
font-size: 16px;
font-weight: 600;
line-height: 24px;
}
.rooms_text a:hover {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.room_slide{
    margin-left: 86px;
    height: 582px;
width: 1196px;
left: 564px;
margin-top: 44px;
margin-bottom: 44px;
}
.room_slide img{
    padding-left: 24px;
    cursor: pointer;
}
.room_slide .img1{
    position: relative;
}
.room_slide .img2, .img3{
    margin-bottom: 97px;
}
.room_next_button{
    position: absolute;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: white;
    right: 230px;
    top: 311px;
}
.room_next_button img{
    padding-top: 16px;
    padding-left: 20px;
}
.room_slide .indicator{
    position: absolute;
    bottom: 26px;
    right: 504px;
    height: 70px;
    width: 120px;
}
.indicator span{
    background-color: #D8D8D8;
    border-radius: 50%;
    padding-left: 20px;
    width: 11px;
    margin-left: 20px;
    cursor: pointer;
}
.indicator span:hover {
    background-color: #E89F71;
}
.img1_text_card{
    width: 265px;
    height: 130px;
    position: absolute;
    bottom: 68px;
    left: 486px;
    display: flex;
}
.img1_text_card .img1_text_card_content {
    background-color:rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(6px);
    height: 130px;
    width: 217px;
    display: block;
}
.img1_text_card_content .text{
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 50px;
    display: flex;
    text-align: center;
    align-items: center;
}
.img1_text_card_content .text p{
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
color: #616161;
}
.img1_text_card_content .text hr{
    width: 27px;
    height: 1px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: #616161;
}
.img1_text_card_content h4{
font-size: 28px;
font-weight: 600;
line-height: 34px;
text-align: left;
margin-left: 32px;
margin-top: 8px;
}
.img1_text_card a{
    margin-top: 82px;
    background-color: #E89F71;
    height: 48px;
    width: 48px;
}
.img1_text_card a img{
    padding-top: 15px;
    padding-left: 12px;
}
/* end room_section css */

/* --------------------------- */

/* start build tips_trick section css */

.tips_trick_section{
    width: 100%;
    margin-top: 44px;
    margin-bottom: 44px;
}
.tips_trick{
    margin: 0 100px 0 100px;
    display: block;
}
.tips_trick h2{
    text-align: center;
    color: #3A3A3A;
font-size: 40px;
font-weight: 700;
line-height: 48px;
}
.tips_trick_card_container{
    display: flex;
    position: relative;
    gap: 32px;
    margin-top: 32px;
}
.tips_trick_card_container .tips_trick_card{
    height: 370px;
    width: 391px;
}
.tips_trick_card h5{
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
    padding: 16px 35px 8px 16px;
}
.tips_trick_card p{
    color: #898989;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
padding: 0px 0 16px 16px;
}
.tips_trick_card_container .before{
    position: absolute;
    left: -25px;
    top: 161px;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
    background-color: white;
    height: 48px;
    width: 48px;
    border-radius: 50%;
}
.tips_trick_card_container .next{
    position: absolute;
    right: 55px;
    top: 161px;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
    background-color: white;
    height: 48px;
    width: 48px;
    border-radius: 50%;
}
.tips_trick_card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.tips_trick_bottom{
    margin-top: 43px;
}
.tips_trick_bottom .indicator {
    margin-left: 40%;
}
/* end tips_trick section css*/


/* ------------------------------- */

/* start furniture section css */

.furniture_gallery_section{
    width: 100%;
    height: auto;
}
.furniture_gallery{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 53px;
}
.furniture_gallery .furniture_header p{
font-size: 20px;
font-weight: 600;
line-height: 30px;
color: #616161;
}
.furniture_gallery .furniture_header h2{
font-size: 40px;
font-weight: 700;
line-height: 48px;
color: #3A3A3A;
}
.furniture_gallery .fgallery{
    display: flex;
    margin-left: 50px;
}
.fgallery .center{
    margin-right: 16px;
}
.fgallery .center img{
    padding-top: 55%;
}
.fgallery .left_side img{
    padding-right: 16px;
    padding-top: 16px;
}
.fgallery .right_side img{
    padding-right: 16px;
    padding-top: 16px;
}
.fgallery .left_side .left_bottom{
    display: flex;
    align-items: flex-start;
}
.fgallery .left_side .left_top{
    display: flex;
    align-items: flex-end;
}
.fgallery .right_side .right_bottom{
    display: flex;
    align-items: flex-start;
}
.fgallery .right_side .right_top{
    display: flex;
    align-items: flex-end;
}


/* end furiture section section css */

/* ------------------------------------ */
/* start build footer  */
footer{
    width: 100%;
    height: auto;
}
.footer_div{
    padding-top: 80px;
    margin: 87px 100px 87px 100px;
    border-top: 1px solid #D8D8D8;
    display: flex;
    width: 1241px;
}
.footer_div .about{
    height: 237px;
    width: 249px;
    display: block;
}
.footer_div .about h4{
font-size: 24px;
font-weight: 700;
line-height: 29px;
text-align: left;
color: black;
padding-bottom: 16px;
}
.about p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #616161;
padding-bottom: 16px;
}
.about .adres a{
    color: #616161;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
align-items: center;
padding-left: 10px;
}
.adres{
    padding-bottom: 16px;
}
.about .tel a{
    color: #616161;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    align-items: center;
    padding-left: 10px;
}
.tel{
    padding-bottom: 16px;
}
.about a{
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #616161;
}
.menu{
    height: 229px;
    width: 104px;
    margin-left: 80px;
}
.menu h4{
    font-size: 24px;
font-weight: 700;
line-height: 29px;
text-align: left;
color: black;
padding-bottom: 16px;
}
.menu ul{
    padding-top: 16px;
}
.menu ul li{
    padding-bottom: 16px;
}
.menu ul li a{
    color: #616161;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
}
.account{
    margin-left: 80px;
    height: 189px;
    width: 93px;
}
.account h4{
    font-size: 24px;
font-weight: 700;
line-height: 29px;
text-align: left;
color: black;
padding-bottom: 16px;
}
.account ul{
    padding-top: 16px;
}
.account ul li {
    color: #616161;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
padding-bottom: 16px;
}
.connect{
    margin-left: 80px;
    height: 149px;
    width: 180px;
}
.connect h4{
    font-size: 24px;
font-weight: 700;
line-height: 29px;
text-align: left;
color: black;
padding-bottom: 16px;
}
.connect ul{
    padding-top: 16px;
}
.connect ul li{
    padding-bottom: 16px;
}
.connect ul li a{
    color: #616161;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
}
.form{
    display: block;
    margin-left: 80px;
}
.form h4{
    font-size: 24px;
font-weight: 700;
line-height: 29px;
text-align: left;
color: black;
padding-bottom: 16px;
}
.form .email{
    display: flex;
}
.email input{
    height: 45px;
    width: 242px;
    background-color: #F4F5F7;
    border: none;
font-size: 16px;
font-weight: 400;
text-align: left;
padding-left: 12px;
}
.email span{
    background-color: #E89F71;
    height: 45px;
    width: 46px;
    margin-left: 5px;
}
.email span img{
    padding-left: 14px;
    padding-top: 13px;
}
/* end footer  */

/* start write responsivility */

@media (max-width: 768px) {
    header{
        width: 100%;
        
    }
}